var/
venv/
*.pyc
*.local
.vagrant

/node_modules
dist
build
.tmp
.sass-cache
.idea
src/bower_components
.DS_Store
npm-debug.log
report.xml

src/fonts/FontAwesome.otf
src/fonts/fontawesome-webfont.eot
src/fonts/fontawesome-webfont.svg
src/fonts/fontawesome-webfont.ttf
src/fonts/fontawesome-webfont.woff
src/fonts/fontawesome-webfont.woff2
src/scss/font-awesome/

tests/diffs/
tests/**/*.regression.png
